.grid-container {
    display: grid;
    height: 98vh;
    width: 100vw;
    margin: auto;
    gap: 0px;
    grid-template-columns: 20fr 20fr 15fr;
    grid-template-rows: 20%;
    grid-template-areas:
    'm m hd'
    'm m ft'
    'm m ft'
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    background-color: #414963;
}

header {
    grid-area: hd;
    height: 30vh;
    width: 20vw;
    margin-left: 0%;
    margin-bottom: 0%;
    font-family: 'Orbitron', sans-serif;
    background-color: #414963;
}

main {
    grid-area: m;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #414963;
}
    

footer {
    grid-area: ft;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #414963;
    width: 20vw;
    margin-right: 0%;
}

#playing-field {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    margin-top: 7vh;
    margin-left: 5vw;
    margin-bottom: 30px;
    height: 85vh;
    width: 120vh;
    border-radius: 7%;
    border: lightblue;
    border-width: 5px;
    border-style: solid;
    z-index: 1;

}

.choices-red, .choices-blue {
    display: inline-block;
    margin-top: 25vh;
    text-align: center;
    margin-right: 5%;

}

h1 {
    text-align: left;
    font-size: 3.4vh;
    color: #FFFFFF;
    margin-top: 7vh;
    padding-top: 0%;
}

h2 {
    font-size: 3.2vh;
    margin-top: 5vh;
    text-align: center;
}

h3 {
    color: #FFFFFF;
    font-size: 2.6vh;
}

h4 {
    font-size: 2.8vh;
}

p {
    font-size: 2.3vh;
}

a {
    text-decoration: none;
}

#comp-point {
    margin-left: 10vh;
}

#you-point {
    margin-left: 10vh;
}

#point-count {
    margin-top: 5vh;
}

#choice-wrapper {
    margin-left: 10vh;
    margin-right: 10vh;
}

.choices-red {
    width: 14%;
    height: 8%;
    background-color: #ab1010;
    border-radius: 10%;
}

.choices-blue {
    width: 13%;
    height: 8%;
    background-color: #2636c5;
    border-radius: 10%;
}