.grid-container {
    display: grid;
    height: 98vh;
    width: 100vw;
    margin: auto;
    gap: 0px;
    grid-template-columns: 20fr 20fr 15fr;
    grid-template-rows: 20%;
    grid-template-areas:
    'm m hd'
    'm m ft'
    'm m ft'
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    background-color: #414963;
}

header {
    grid-area: hd;
    background-color: aqua;
    height: 8vh;
    margin-bottom: 0%;
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    color: #FFFFFF;
    background-color: #414963;
}

main {
    grid-area: m;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #414963;
}
    

footer {
    grid-area: ft;
    background-color: antiquewhite;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #414963;
}

#playing-field {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    margin-top: 7vh;
    margin-left: 8vw;
    margin-bottom: 30px;
    height: 85vh;
    width: 120vh;
    border-radius: 7%;
    border: lightblue;
    border-width: 5px;
    border-style: solid;
    z-index: 1;

}

.choices {
    display: inline-block;

}