body {
    background-color: #000000;
}

header {
    font-family: 'Orbitron', sans-serif;

}
main {
    font-family: 'Orbitron', sans-serif;
    text-align: center;

}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 7vh;
    color: #FFFFFF;
}

h2 {
    text-align: center;
    font-size: 5vh;
    color: #FFFFFF;
    margin-top: 5vh;
}

button {
    justify-items: center;
    text-align: center;
    font-size: 4vh;
    color: #FFFFFF;
    background-color: #000000;
    border-style: hidden;
    font-family: 'Orbitron', sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10%;
}

button:hover {
    cursor: pointer;
    font-size: 4.2vh;
}

#start-game {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 6vh;
}

#start-game:hover {
    font-size: 6.5vh;
}

